<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
<!--       <%#= link_to cocktail_path(cocktail) do %> -->
        <div class="col-md-4">
          <%= link_to cocktail_path(cocktail), method: "delete" do %>
              <i id= "delete-cocktail" class="fas fa-times"></i>
          <% end %>
          <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background: url('<%= cocktail.picture_url %>'); background-size: cover;">
            <h3 class="cocktail-name"><%= cocktail.name %></h3>
            <% @doses = cocktail.doses %>
            <ul class="cocktail-ingredients">
              <% @doses.each do |dose| %>
                <li><%= dose.ingredient.name %>: <%= dose.description %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


