<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'cocktail.png' %>
    <span>Mister Cocktail</span>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to new_cocktail_path do %>
      <button class='btn btn-primary'><i class='fas fa-plus'></i> Add Cocktail</button>
    <% end %>
    <div class="search-form">
      <%= simple_form_for cocktails_path, method: :get do |f| %>
        <%= f.input :search, label: false, placeholder: "Search" %>
      <% end %>
    </div>
  </div>
</div>
  <%= yield %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
